body {
    margin: 0;
}

.floating-message {
    transition: all 0.8s ease 0s;
    position: absolute;
    top: 40%;
    left: -42%;
    width: 45%;
    background-color: rgb(20, 39, 56);
    display: flex;
    justify-content: center;

}

.floating-message:hover {
    transform: translateX(100%);
}

.message-content {
    color: white;
    word-wrap: break-word;
    display: flex;
}

.image {
    padding: 10px;
    width: 100px;
    height: 100px;
}

.callback {
    background-color: rgb(201, 157, 48);
    border-radius: 0px 20px 20px 0px;

}

.callback>p {
    writing-mode: sideways-lr;
}

@keyframes fromLeftToRight {
    0% {
        left: -42%;
    }

    100% {
        left: 1%;
    }
}