.container {
    padding: 20px;
    height: 40px;
}

.progress-bar {
    overflow: hidden;
    width: 90%;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    background: linear-gradient(#555555, #b6b6b6);
}

.line {
    background: rgb(192, 224, 242);
    background: linear-gradient(0deg, rgba(192, 224, 242, 1) 20%, rgba(0, 164, 255, 1) 50%, rgba(192, 224, 242, 1) 80%);
    height: 100%;
    width: 30%;
    box-shadow: 4px 0 4px 0px rgb(43, 43, 43);
}