* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif
}

footer {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-inline: 25%;
    background-color: #333333;
}

main {
    padding-bottom: 2%;
}

.nav-bar {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-inline: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-page {
    text-decoration: none;
    color: rgb(71, 138, 201);
    margin-left: 10px;
}

.burger-menu {
    cursor: pointer;
    height: 40px;
}

.info {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.images-info {
    height: 100%;
    display: flex;
}

.big-img-info {
    margin-inline: 30px;
    width: 555px;
    height: 591px;
}

.sml-img-info {
    align-self: flex-end;
    margin-right: 30px;
    width: 209px;
    height: 225px;
}

.content-info {
    height: 284px;
}

.main-section {
    margin-top: -660px;
    display: flex;
    justify-self: center;
}

.text-info {
    max-width: 490px;
    color: white;
    font-style: italic;
}

.header-info {
    font-size: 60px;
    color: rgb(241, 197, 14);
    margin-bottom: 30px;
}

.main-section {
    justify-content: center;
}

.dark-bg {
    background-color: rgb(41, 45, 51);
    height: 480px;
    width: 100%;
}

.white-bg {
    background-color: white;
    height: 240px;
    width: 100%;
}

.link {
    padding-top: 20px;
    color: white;
}

.link>a {
    color: white;
}

.text-footer {
    font-size: 0.8em;
    color: white;
}

.center-text {
    text-align: center;
}

@media (min-width: 988px) {
    .nav-pages {
        display: initial;
    }

    .burger-menu {
        display: none;
    }
}

@media (max-width: 988px) {
    .nav-pages {
        display: none;
    }

    .burger-menu {
        display: initial;
    }
}