@media (min-width: 988px) {
    .nav-pages {
        display: initial;
    }

    .burger-menu {
        display: none;
    }
}

@media (max-width: 988px) {
    .nav-pages {
        display: none;
    }

    .burger-menu {
        display: initial;
    }
}