* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif
}


footer {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-inline: 25%;
    background-color: #333333;
}

.nav-bar {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-inline: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-page {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.nav-page:hover {
    color: rgb(242, 96, 0);
}

.burger-menu {
    cursor: pointer;
    height: 40px;
}

.text-footer {
    font-size: 0.8em;
    color: white;
}

.center-text {
    text-align: center;
}

.background-image {
    height: 100%;
    background-image: url('../images/asd-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.items-container {
    padding-top: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    margin: 15px;
    padding: 30px;
    background-color: rgb(46, 46, 49);
    width: 300px;
}

.item-image {
    height: 64px;
    width: 64px;
}

.item-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.item-text {
    margin-top: 20px;
    color: white;
    font-size: 16px;
}

.btn-more {
    border-color: rgb(253, 157, 4);
    align-self: flex-start;
    color: rgb(255, 255, 255);

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    padding-inline: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.btn-more:hover {
    color: rgb(230, 230, 230);
}

.freepik-link {
    margin-top: 39px;
    padding-bottom: 50px;
    color: rgb(17, 17, 17);
    font-size: 16px;
    text-align: center;
}

@media (min-width: 988px) {
    .nav-pages {
        display: initial;
    }

    .burger-menu {
        display: none;
    }
}

@media (max-width: 988px) {
    .nav-pages {
        display: none;
    }

    .burger-menu {
        display: initial;
    }
}