.circle {
  top: 0;
  margin-top: 80px;
  margin-left: 75px;
  position: absolute;
  background: rgb(133, 214, 98);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  z-index: 1;
}

.pie {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 0;
  background: conic-gradient(rgb(57, 150, 57) 0deg 273deg,
      rgb(210, 233, 200) 45deg 190deg,
      rgb(210, 233, 200) 190deg 360deg);
}

p {
  font-size: 5em;
  margin-left: 35px;
}